In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import pickle as pkl
import numpy as np
import json
import requests
from bs4 import BeautifulSoup

In [284]:
df_1 = pd.read_excel("T20_Match_Details.xlsx")
df_2 = pd.read_excel("2022_T20_Matches.xlsx")

In [285]:
df_1

,Unnamed: 0,Unnamed: 0.1,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard,Toss,Target,Total_Players,batting_first_team,batting_second_team
0,0,0,South Africa,West Indies,West Indies,4 wickets,Cape Town,"Jan 9, 2015",https://stats.espncricinfo.com/ci/engine/match...,"South Africa, elected to bat first",['166'],"['Reeza Hendricks', 'Morne van Wyk', 'Faf du P...","{'Morne van Wyk', 'Faf du Plessis', 'David Mil...","{'Daren Sammy', 'Dwayne Bravo', 'Dwayne Smith'..."
1,1,1,South Africa,West Indies,West Indies,4 wickets,Johannesburg,"Jan 11, 2015",https://stats.espncricinfo.com/ci/engine/match...,"West Indies, elected to field first",['232'],"['Rilee Rossouw', 'Morne van Wyk', 'Faf du Ple...","{'Marchant de Lange', 'Morne van Wyk', 'Faf du...","{'Daren Sammy', 'Dwayne Bravo', 'Dwayne Smith'..."
2,2,2,South Africa,West Indies,South Africa,69 runs,Durban,"Jan 14, 2015",https://stats.espncricinfo.com/ci/engine/match...,"West Indies, elected to field first",['196'],"['Morne van Wyk', 'Reeza Hendricks', 'David Wi...","{'Marchant de Lange', 'Morne van Wyk', 'David ...","{'Andre Fletcher', 'Daren Sammy', 'Dwayne Brav..."
3,3,3,Bangladesh,Pakistan,Bangladesh,7 wickets,Mirpur,"Apr 24, 2015",https://stats.espncricinfo.com/ci/engine/match...,"Pakistan, elected to bat first",['142'],"['Mukhtar Ahmed', 'Ahmed Shehzad', 'Shahid Afr...","{'Umar Gul', 'Wahab Riaz', 'Ahmed Shehzad', 'S...","{'Shakib Al Hasan', 'Mushfiqur Rahim', 'Mustaf..."
4,4,4,Pakistan,Zimbabwe,Pakistan,5 wickets,Lahore,"May 22, 2015",https://stats.espncricinfo.com/ci/engine/match...,"Zimbabwe, elected to bat first",['173'],"['Hamilton Masakadza', 'Vusi Sibanda', 'Charle...","{'Sean Williams', 'Sikandar Raza', 'Chris Mpof...","{'Wahab Riaz', 'Ahmed Shehzad', 'Bilawal Bhatt..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702,702,90,Australia,India,India,6 wickets,Sydney,"Dec 6, 2020",https://stats.espncricinfo.com/ci/engine/match...,"India, elected to field first",['195'],"['Matthew Wade', ""D'Arcy Short"", 'Steven Smith...","{'Andrew Tye', 'Glenn Maxwell', 'Daniel Sams',...","{'Sanju Samson', 'Shikhar Dhawan', 'Shreyas Iy..."
703,703,91,Australia,India,Australia,12 runs,Sydney,"Dec 8, 2020",https://stats.espncricinfo.com/ci/engine/match...,"India, elected to field first",['187'],"['Matthew Wade', 'Aaron Finch', 'Steven Smith'...","{'Andrew Tye', 'Glenn Maxwell', 'Daniel Sams',...","{'Sanju Samson', 'Shikhar Dhawan', 'Shreyas Iy..."
704,704,92,New Zealand,Pakistan,New Zealand,5 wickets,Auckland,"Dec 18, 2020",https://stats.espncricinfo.com/ci/engine/match...,"Pakistan, elected to bat first",['154'],"['Mohammad Rizwan', 'Abdullah Shafique', 'Haid...","{'Faheem Ashraf', 'Wahab Riaz', 'Abdullah Shaf...","{'Mitchell Santner', 'Jacob Duffy', 'Tim Seife..."
705,705,93,New Zealand,Pakistan,New Zealand,9 wickets,Hamilton,"Dec 20, 2020",https://stats.espncricinfo.com/ci/engine/match...,"Pakistan, elected to bat first",['164'],"['Mohammad Rizwan', 'Haider Ali', 'Abdullah Sh...","{'Faheem Ashraf', 'Wahab Riaz', 'Abdullah Shaf...","{'Trent Boult', 'Tim Seifert', 'Kyle Jamieson'..."
706,706,94,New Zealand,Pakistan,Pakistan,4 wickets,Napier,"Dec 22, 2020",https://stats.espncricinfo.com/ci/engine/match...,"Pakistan, elected to field first",['174'],"['Martin Guptill', 'Tim Seifert', 'Kane Willia...","{'Trent Boult', 'Tim Seifert', 'Kyle Jamieson'...","{'Faheem Ashraf', 'Mohammad Hasnain', 'Mohamma..."

In [286]:
df_1.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Team 1', 'Team 2', 'Winner', 'Margin',
       'Ground', 'Match Date', 'Scorecard', 'Toss', 'Target', 'Total_Players',
       'batting_first_team', 'batting_second_team'],
      dtype='object')

In [287]:
df_2.columns

Index(['Unnamed: 0', 'Team 1', 'Team 2', 'Winner', 'Margin', 'Ground',
       'Match Date', 'Scorecard', 'Toss', 'Target', 'Total_Players',
       'batting_first_team', 'batting_second_team'],
      dtype='object')

In [288]:
df_1 = df_1.drop(['Unnamed: 0','Unnamed: 0.1','Match Date', 'Scorecard'],axis=1)

In [289]:
df_2 = df_2.drop(['Unnamed: 0','Match Date', 'Scorecard'],axis=1)

In [290]:
df_main = pd.concat([df_1,df_2])

In [291]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 988 entries, 0 to 280
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Team 1               988 non-null    object
 1   Team 2               988 non-null    object
 2   Winner               988 non-null    object
 3   Margin               950 non-null    object
 4   Ground               988 non-null    object
 5   Toss                 988 non-null    object
 6   Target               983 non-null    object
 7   Total_Players        988 non-null    object
 8   batting_first_team   983 non-null    object
 9   batting_second_team  983 non-null    object
dtypes: object(10)
memory usage: 84.9+ KB

In [292]:
df_main.iloc[987]

Team 1                                         Bahrain
Team 2                                          Kuwait
Winner                                               -
Margin                                             NaN
Ground                                       Al Amerat
Toss                   Bahrain, elected to field first
Target                                         ['210']
Total_Players                                       []
batting_first_team                                 NaN
batting_second_team                                NaN
Name: 280, dtype: object

In [293]:
df_main.dropna(inplace=True,axis=0)

In [294]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 949 entries, 0 to 279
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Team 1               949 non-null    object
 1   Team 2               949 non-null    object
 2   Winner               949 non-null    object
 3   Margin               949 non-null    object
 4   Ground               949 non-null    object
 5   Toss                 949 non-null    object
 6   Target               949 non-null    object
 7   Total_Players        949 non-null    object
 8   batting_first_team   949 non-null    object
 9   batting_second_team  949 non-null    object
dtypes: object(10)
memory usage: 81.6+ KB

In [295]:
df_main.isnull().sum()

Team 1                 0
Team 2                 0
Winner                 0
Margin                 0
Ground                 0
Toss                   0
Target                 0
Total_Players          0
batting_first_team     0
batting_second_team    0
dtype: int64

In [296]:
wc_2022_playing_teams = ['South Africa', 'Bangladesh', 'Pakistan','England','Afghanistan', 'Australia',
            'New Zealand','India','U.A.E.','Namibia','Netherlands','Sri Lanka','Ireland','Scotland','West Indies','Zimbabwe']

In [297]:
df_main.dropna(inplace=True)

In [298]:
df_main.shape

(949, 10)

In [299]:
df_final = df_main[(df_main["Team 1"].isin(wc_2022_playing_teams)) & (df_main["Team 2"].isin(wc_2022_playing_teams))]

In [351]:
def toss_decision(toss):
    if ',' not in toss:
        return None
    else:
        a,b = toss.split(',')
        if "bat first" in toss:
            return a + " bat first"
        elif "field first" in toss:
            return a + " field first"

In [365]:
def bat_first(toss_decision,Team1,Team2):
    print(toss_decision,Team1,Team2)
    if toss_decision != None:
        if Team1 in toss_decision and 'bat first' in toss_decision:
            return Team1
        elif Team1 in toss_decision and 'field first' in toss_decision:
            return Team2
        elif Team2 in toss_decision and 'bat first' in toss_decision:
            return Team2
        elif Team2 in toss_decision and 'field first' in toss_decision:
            return Team1
    else:
        return None

In [366]:
df_final['Toss_Decision'] = df_final['Toss'].apply(toss_decision)

C:\Users\noahr\AppData\Local\Temp/ipykernel_8896/1369393390.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Toss_Decision'] = df_final['Toss'].apply(toss_decision)

In [367]:
df_final['bat_first'] = df_final.apply(lambda x: bat_first(x['Toss_Decision'], x['Team 1'],x['Team 2']), axis=1)

South Africa bat first South Africa West Indies
West Indies field first South Africa West Indies
West Indies field first South Africa West Indies
Pakistan bat first Bangladesh Pakistan
Zimbabwe bat first Pakistan Zimbabwe
Zimbabwe bat first Pakistan Zimbabwe
Ireland bat first Ireland Scotland
Scotland field first Ireland Scotland
England bat first England New Zealand
South Africa bat first Bangladesh South Africa
South Africa bat first Bangladesh South Africa
Scotland field first Scotland U.A.E.
Netherlands field first Afghanistan Netherlands
United Arab Emirates bat first Afghanistan U.A.E.
Netherlands bat first Scotland Netherlands
Netherlands field first Netherlands U.A.E.
Afghanistan bat first Scotland Afghanistan
India bat first Zimbabwe India
Zimbabwe bat first Zimbabwe India
Netherlands field first Ireland Netherlands
Pakistan bat first Sri Lanka Pakistan
Sri Lanka bat first Sri Lanka Pakistan
Zimbabwe field first Zimbabwe New Zealand
South Africa field first South Africa New Zealand
New Zealand bat first South Africa New Zealand
Australia field first England Australia
Pakistan bat first Zimbabwe Pakistan
Pakistan bat first Zimbabwe Pakistan
South Africa field first India South Africa
South Africa field first India South Africa
Zimbabwe bat first Zimbabwe Afghanistan
Zimbabwe bat first Zimbabwe Afghanistan
West Indies field first Sri Lanka West Indies
West Indies bat first Sri Lanka West Indies
Bangladesh field first Bangladesh Zimbabwe
Bangladesh bat first Bangladesh Zimbabwe
England bat first England Pakistan
England bat first England Pakistan
Sri Lanka field first New Zealand Sri Lanka
Afghanistan bat first Afghanistan Zimbabwe
New Zealand field first New Zealand Sri Lanka
Zimbabwe field first Afghanistan Zimbabwe
New Zealand field first New Zealand Pakistan
Zimbabwe bat first Bangladesh Zimbabwe
Pakistan bat first New Zealand Pakistan
Bangladesh bat first Bangladesh Zimbabwe
Zimbabwe bat first Bangladesh Zimbabwe
Pakistan field first New Zealand Pakistan
Zimbabwe bat first Bangladesh Zimbabwe
Australia field first Australia India
Australia field first Australia India
Australia bat first Australia India
United Arab Emirates field first U.A.E. Netherlands
United Arab Emirates bat first U.A.E. Scotland
Scotland bat first Netherlands Scotland
Sri Lanka field first India Sri Lanka
Sri Lanka field first India Sri Lanka
United Arab Emirates field first U.A.E. Ireland
India field first India Sri Lanka
United Arab Emirates bat first U.A.E. Ireland
United Arab Emirates bat first Afghanistan U.A.E.
South Africa field first South Africa England
Bangladesh field first Bangladesh India
United Arab Emirates field first Sri Lanka U.A.E.
United Arab Emirates field first Bangladesh U.A.E.
India field first India Pakistan
Bangladesh bat first Bangladesh Sri Lanka
United Arab Emirates bat first Pakistan U.A.E.
India field first India Sri Lanka
Pakistan bat first Bangladesh Pakistan
United Arab Emirates bat first India U.A.E.
Pakistan field first Pakistan Sri Lanka
Australia bat first South Africa Australia
Australia field first South Africa Australia
India field first Bangladesh India
Afghanistan bat first Afghanistan Scotland
Netherlands field first Bangladesh Netherlands
South Africa bat first South Africa Australia
Zimbabwe bat first Scotland Zimbabwe
Afghanistan bat first Afghanistan Zimbabwe
Ireland field first Ireland Netherlands
New Zealand bat first India New Zealand
Pakistan bat first Bangladesh Pakistan
West Indies field first England West Indies
Afghanistan bat first Afghanistan Sri Lanka
New Zealand bat first Australia New Zealand
England field first England South Africa
India field first India Pakistan
South Africa bat first Afghanistan South Africa
West Indies field first Sri Lanka West Indies
Australia field first Australia Bangladesh
New Zealand bat first New Zealand Pakistan
England bat first Afghanistan England
Bangladesh field first India Bangladesh
Australia bat first Australia Pakistan
West Indies field first South Africa West Indies
New Zealand bat first Bangladesh New Zealand
Sri Lanka field first England Sri Lanka
West Indies field first Afghanistan West Indies
Australia bat first India Australia
South Africa field first South Africa Sri Lanka
England field first England New Zealand
West Indies field first India West Indies
West Indies field first England West Indies
India field first Zimbabwe India
Zimbabwe bat first Zimbabwe India
Zimbabwe field first Zimbabwe India
Sri Lanka bat first England Sri Lanka
India field first India West Indies
Sri Lanka field first Sri Lanka Australia
England bat first England Pakistan
Sri Lanka bat first Sri Lanka Australia
Pakistan field first Pakistan West Indies
West Indies field first Pakistan West Indies
Pakistan field first Pakistan West Indies
Afghanistan bat first U.A.E. Afghanistan
United Arab Emirates bat first U.A.E. Afghanistan
Afghanistan bat first U.A.E. Afghanistan
Bangladesh bat first New Zealand Bangladesh
Bangladesh field first New Zealand Bangladesh
Bangladesh field first New Zealand Bangladesh
Ireland bat first Afghanistan Ireland
Afghanistan field first U.A.E. Afghanistan
Netherlands field first Netherlands Scotland
Ireland bat first U.A.E. Ireland
Scotland field first Ireland Scotland
Ireland bat first Afghanistan Ireland
Sri Lanka field first South Africa Sri Lanka
South Africa bat first South Africa Sri Lanka
South Africa bat first South Africa Sri Lanka
England field first India England
England field first India England
England field first India England
New Zealand field first New Zealand South Africa
Sri Lanka field first Australia Sri Lanka
Sri Lanka field first Australia Sri Lanka
Sri Lanka field first Australia Sri Lanka
Ireland bat first Afghanistan Ireland
Afghanistan bat first Afghanistan Ireland
Ireland field first Afghanistan Ireland
Pakistan field first West Indies Pakistan
West Indies field first West Indies Pakistan
Pakistan bat first West Indies Pakistan
Pakistan field first West Indies Pakistan
Bangladesh bat first Sri Lanka Bangladesh
Bangladesh bat first Sri Lanka Bangladesh
Afghanistan bat first West Indies Afghanistan
West Indies bat first West Indies Afghanistan
Afghanistan bat first West Indies Afghanistan
South Africa bat first England South Africa
England field first England South Africa
South Africa field first England South Africa
West Indies field first West Indies India
India field first Sri Lanka India
England field first England West Indies
India field first India Australia
Australia field first India Australia
Pakistan field first Pakistan Sri Lanka
South Africa bat first South Africa Bangladesh
Pakistan field first Pakistan Sri Lanka
Bangladesh field first South Africa Bangladesh
Sri Lanka field first Pakistan Sri Lanka
New Zealand field first India New Zealand
New Zealand bat first India New Zealand
New Zealand field first India New Zealand
Sri Lanka field first India Sri Lanka
Sri Lanka field first India Sri Lanka
India field first India Sri Lanka
West Indies field first New Zealand West Indies
New Zealand bat first New Zealand West Indies
New Zealand field first New Zealand Pakistan
Pakistan bat first New Zealand Pakistan
Pakistan bat first New Zealand Pakistan
Australia field first Australia New Zealand
Afghanistan field first Afghanistan Zimbabwe
Zimbabwe field first Afghanistan Zimbabwe
Australia field first Australia England
Australia field first Australia England
England field first New Zealand England
Bangladesh bat first Bangladesh Sri Lanka
New Zealand bat first New Zealand Australia
New Zealand field first New Zealand England
Bangladesh field first Bangladesh Sri Lanka
South Africa field first South Africa India
New Zealand bat first New Zealand Australia
South Africa field first South Africa India
South Africa field first South Africa India
Sri Lanka field first Sri Lanka India
India field first Bangladesh India
Bangladesh field first Sri Lanka Bangladesh
India field first Sri Lanka India
Bangladesh field first Bangladesh India
Bangladesh field first Sri Lanka Bangladesh
India field first Bangladesh India
West Indies field first Pakistan West Indies
Pakistan bat first Pakistan West Indies
West Indies bat first Pakistan West Indies
Bangladesh field first Afghanistan Bangladesh
Bangladesh bat first Afghanistan Bangladesh
Afghanistan bat first Afghanistan Bangladesh
Ireland field first Netherlands Ireland
Pakistan bat first Scotland Pakistan
Ireland bat first Netherlands Ireland
Pakistan bat first Scotland Pakistan
Ireland bat first Ireland Scotland
Netherlands bat first Netherlands Scotland
Scotland bat first Netherlands Scotland
Ireland field first Ireland India
Australia field first England Australia
Ireland field first Ireland India
Zimbabwe field first Zimbabwe Pakistan
Australia field first Australia Pakistan
Zimbabwe field first Zimbabwe Australia
India field first England India
Pakistan field first Zimbabwe Pakistan
Australia field first Australia Pakistan
Zimbabwe bat first Zimbabwe Australia
England field first England India
Australia bat first Australia Pakistan
India field first England India
West Indies field first West Indies Bangladesh
West Indies field first Bangladesh West Indies
Bangladesh bat first Bangladesh West Indies
South Africa bat first Sri Lanka South Africa
Ireland field first Ireland Afghanistan
Afghanistan bat first Ireland Afghanistan
South Africa bat first South Africa Zimbabwe
Zimbabwe bat first South Africa Zimbabwe
United Arab Emirates bat first U.A.E. Australia
Australia field first Australia Pakistan
Pakistan bat first Australia Pakistan
Sri Lanka field first Sri Lanka England
Pakistan bat first Australia Pakistan
Pakistan bat first New Zealand Pakistan
New Zealand bat first New Zealand Pakistan
India field first India West Indies
Pakistan bat first New Zealand Pakistan
West Indies field first India West Indies
West Indies bat first India West Indies
Australia field first Australia South Africa
India field first Australia India
Australia bat first Australia India
Bangladesh bat first Bangladesh West Indies
West Indies field first Bangladesh West Indies
Bangladesh field first Bangladesh West Indies
None New Zealand Sri Lanka
None South Africa Pakistan
None South Africa Pakistan
None New Zealand India
None South Africa Pakistan
None New Zealand India
None New Zealand India
None Netherlands Scotland
None Ireland Scotland
None Ireland Netherlands
None Afghanistan Ireland
None Afghanistan Ireland
None Afghanistan Ireland
None India Australia
None India Australia
None West Indies England
None West Indies England
None West Indies England
None South Africa Sri Lanka
None South Africa Sri Lanka
None England Pakistan
Zimbabwe field first Netherlands Zimbabwe
Ireland field first Ireland Zimbabwe
Zimbabwe field first Ireland Zimbabwe
Netherlands field first Netherlands U.A.E.
India field first India West Indies
India bat first India West Indies
United Arab Emirates field first Netherlands U.A.E.
Netherlands field first Netherlands U.A.E.
India field first West Indies India
Netherlands bat first Netherlands U.A.E.
Sri Lanka bat first Sri Lanka New Zealand
Sri Lanka bat first Sri Lanka New Zealand
Sri Lanka bat first Sri Lanka New Zealand
None Bangladesh Zimbabwe
None Afghanistan Zimbabwe
None Bangladesh Afghanistan
None Netherlands Scotland
None Ireland Scotland
None Bangladesh Zimbabwe
None Ireland Netherlands
India field first India South Africa
Netherlands bat first Netherlands Scotland
None Afghanistan Zimbabwe
Scotland field first Ireland Scotland
None Bangladesh Afghanistan
India bat first India South Africa
Ireland field first Ireland Netherlands
Pakistan field first Pakistan Sri Lanka
Sri Lanka bat first Pakistan Sri Lanka
Sri Lanka bat first Pakistan Sri Lanka
None Namibia Netherlands
None U.A.E. Ireland
None Namibia Scotland
Sri Lanka field first Australia Sri Lanka
None Netherlands Scotland
None U.A.E. Netherlands
Sri Lanka bat first Australia Sri Lanka
None U.A.E. Scotland
England field first New Zealand England
Australia field first Australia Sri Lanka
None Ireland Netherlands
None Ireland Namibia
England field first New Zealand England
Bangladesh field first India Bangladesh
New Zealand bat first New Zealand England
Pakistan bat first Australia Pakistan
India field first India Bangladesh
New Zealand field first New Zealand England
Australia field first Australia Pakistan
Bangladesh field first India Bangladesh
Afghanistan field first Afghanistan West Indies
Afghanistan bat first Afghanistan West Indies
Afghanistan bat first Afghanistan West Indies
India field first India West Indies
West Indies field first India West Indies
West Indies field first India West Indies
India field first India Sri Lanka
Sri Lanka field first India Sri Lanka
None West Indies Ireland
None West Indies Ireland
India field first New Zealand India
Bangladesh bat first Pakistan Bangladesh
Bangladesh bat first Pakistan Bangladesh
New Zealand bat first New Zealand India
India bat first New Zealand India
England field first South Africa England
South Africa field first South Africa England
South Africa bat first South Africa England
South Africa field first South Africa Australia
South Africa bat first South Africa Australia
South Africa field first South Africa Australia
None Sri Lanka West Indies
Ireland bat first Afghanistan Ireland
None Sri Lanka West Indies
Afghanistan bat first Afghanistan Ireland
None Bangladesh Zimbabwe
None Bangladesh Zimbabwe
England field first England Pakistan
England field first England Pakistan
Australia field first England Australia
Australia bat first England Australia
Australia field first England Australia
Zimbabwe bat first Pakistan Zimbabwe
Pakistan field first Pakistan Zimbabwe
Zimbabwe bat first Pakistan Zimbabwe
New Zealand field first New Zealand West Indies
England field first South Africa England
West Indies field first New Zealand West Indies
England field first South Africa England
South Africa bat first South Africa England
Australia field first Australia India
India field first Australia India
India field first Australia India
Pakistan bat first New Zealand Pakistan
Pakistan bat first New Zealand Pakistan
Pakistan field first New Zealand Pakistan
West Indies field first West Indies England
West Indies field first West Indies England
England field first West Indies England
West Indies field first West Indies England
West Indies bat first West Indies England
Sri Lanka field first Australia Sri Lanka
Ireland field first Ireland U.A.E.
Australia field first Australia Sri Lanka
India field first India West Indies
Australia field first Australia Sri Lanka
United Arab Emirates bat first Ireland U.A.E.
West Indies field first India West Indies
Australia bat first Australia Sri Lanka
West Indies field first India West Indies
Ireland bat first Ireland U.A.E.
Sri Lanka field first India Sri Lanka
India field first India Sri Lanka
Sri Lanka bat first India Sri Lanka
Bangladesh bat first Bangladesh Afghanistan
Bangladesh bat first Bangladesh Afghanistan
Australia field first Pakistan Australia
Zimbabwe bat first Zimbabwe Namibia
Zimbabwe bat first Zimbabwe Namibia
Namibia bat first Zimbabwe Namibia
Namibia field first Zimbabwe Namibia
Zimbabwe field first Zimbabwe Namibia
Australia field first Sri Lanka Australia
Australia field first Sri Lanka Australia
South Africa field first India South Africa
Zimbabwe bat first Zimbabwe Afghanistan
Australia bat first Sri Lanka Australia
Afghanistan bat first Zimbabwe Afghanistan
South Africa field first India South Africa
Afghanistan bat first Zimbabwe Afghanistan
South Africa field first India South Africa
South Africa field first India South Africa
India field first Ireland India
India bat first Ireland India
West Indies bat first West Indies Bangladesh
India bat first England India
Bangladesh bat first West Indies Bangladesh
England field first England India
England bat first England India
Zimbabwe bat first Zimbabwe Netherlands
Ireland field first Ireland New Zealand
Ireland field first Ireland New Zealand
Ireland bat first Ireland New Zealand
Scotland field first Scotland New Zealand
South Africa field first England South Africa
England field first England South Africa
New Zealand bat first Scotland New Zealand
West Indies field first West Indies India
Zimbabwe bat first Zimbabwe Bangladesh
Zimbabwe bat first Zimbabwe Bangladesh
England field first England South Africa
West Indies field first West Indies India
Zimbabwe bat first Zimbabwe Bangladesh
India field first West Indies India
South Africa bat first Ireland South Africa
New Zealand bat first Netherlands New Zealand
Netherlands bat first Netherlands New Zealand
Ireland field first Ireland South Africa
West Indies field first India West Indies
India bat first India West Indies
Afghanistan bat first Ireland Afghanistan
West Indies field first West Indies New Zealand
Afghanistan bat first Ireland Afghanistan
Ireland field first Ireland Afghanistan
New Zealand bat first West Indies New Zealand

C:\Users\noahr\AppData\Local\Temp/ipykernel_8896/1470636931.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['bat_first'] = df_final.apply(lambda x: bat_first(x['Toss_Decision'], x['Team 1'],x['Team 2']), axis=1)

In [368]:
df_final.sample(3)

,Team 1,Team 2,Winner,Margin,Ground,Toss,Target,Total_Players,batting_first_team,batting_second_team,Toss_Decision,bat_first
465,Sri Lanka,New Zealand,New Zealand,5 wickets,Pallekele,"Sri Lanka, elected to bat first",['175'],"['Kusal Mendis', 'Kusal Perera', 'Avishka Fern...","{'Lasith Malinga', 'Kusal Mendis', 'Avishka Fe...","{'Ross Taylor', 'Colin Munro', 'Tim Seifert', ...",Sri Lanka bat first,Sri Lanka
596,Australia,Pakistan,Australia,10 wickets,Perth,"Australia, elected to field first",['107'],"['Imam-ul-Haq', 'Babar Azam', 'Mohammad Rizwan...","{'Mohammad Hasnain', 'Mohammad Amir', 'Mohamma...","{'Kane Richardson', 'Ashton Agar', 'David Warn...",Australia field first,Pakistan
132,New Zealand,Pakistan,New Zealand,22 runs,Mohali,"New Zealand, elected to bat first",['181'],"['Martin Guptill', 'Kane Williamson', 'Colin M...","{'Corey Anderson', 'Ross Taylor', 'Colin Munro...","{'Sharjeel Khan', 'Ahmed Shehzad', 'Ireland', ...",New Zealand bat first,New Zealand

In [369]:
df_final['Toss'] = df_final['Toss'].str.extract('(.+?),')

C:\Users\noahr\AppData\Local\Temp/ipykernel_8896/3771103507.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Toss'] = df_final['Toss'].str.extract('(.+?),')

In [370]:
df_final.Target = df_final.Target.str.extract('(\d+)')

C:\Users\noahr\anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [371]:
df_main.Toss.value_counts()

Impact                                  92
India, elected to field first           30
West Indies, elected to field first     30
Australia, elected to field first       24
Zimbabwe, elected to bat first          23
                                        ..
Philippines, elected to bat first        1
Brazil, elected to field first           1
ICC World XI, elected to field first     1
Peru, elected to field first             1
Eswatini, elected to field first         1
Name: Toss, Length: 149, dtype: int64

In [372]:
df_final.shape

(431, 12)

In [373]:
df_final.isnull().sum()

Team 1                  0
Team 2                  0
Winner                  0
Margin                  0
Ground                  0
Toss                   44
Target                 15
Total_Players           0
batting_first_team      0
batting_second_team     0
Toss_Decision          44
bat_first              58
dtype: int64

In [374]:
df_final.dropna(inplace=True)

C:\Users\noahr\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [375]:
team_ids = {'India': 16,'England': 15,'Pakistan':14, 'South Africa':13,'New Zealand':12,'Australia':11,'West Indies':10,
           'Sri Lanka':9,'Bangladesh':8,'Afghanistan':7,'Zimbabwe':6,'U.A.E':5,'Ireland':4,'Namibia':3,'Scotland':2,'Netherlands':1}

In [376]:
df_final.replace(['India','England','Pakistan','South Africa','New Zealand','Australia','West Indies','Sri Lanka'
                 ,'Bangladesh','Afghanistan','Zimbabwe','U.A.E.','Ireland','Namibia','Scotland','Netherlands'],[16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1],inplace=True)

C:\Users\noahr\anaconda3\lib\site-packages\pandas\core\frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [377]:
df_final.Toss.value_counts()

10    35
13    32
14    32
11    32
16    31
6     30
8     29
9     27
15    26
7     22
12    22
4     20
1     12
2      7
3      2
Name: Toss, dtype: int64

In [378]:
df_final['Total_Players'].iloc[10]

"['Quinton de Kock', 'AB de Villiers', 'Jean-Paul Duminy', 'Faf du Plessis', 'David Miller', 'Rilee Rossouw', 'View full profile of Arafat Sunny', 'View full profile of Nasir Hossain', 'View full profile of Mustafizur Rahman', 'View full profile of Shakib Al Hasan', 'View full profile of Mashrafe Mortaza', 'View full profile of Soumya Sarkar', 'Tamim Iqbal', 'Soumya Sarkar', 'Shakib Al Hasan', 'Mushfiqur Rahim', 'Sabbir Rahman', 'Nasir Hossain', 'Rony Talukdar', 'Litton Das', 'Mashrafe Mortaza', 'Arafat Sunny', 'Mustafizur Rahman', 'View full profile of Kyle Abbott', 'View full profile of Jean-Paul Duminy', 'View full profile of Wayne Parnell', 'View full profile of David Wiese', 'View full profile of Eddie Leie', 'View full profile of Aaron Phangiso']"

In [379]:
df_final['batting_first_team'].iloc[10]

"{'Eddie Leie', 'Quinton de Kock', 'Faf du Plessis', 'David Miller', 'David Wiese', 'Jean-Paul Duminy', 'Wayne Parnell', 'AB de Villiers', 'Rilee Rossouw', 'Aaron Phangiso', 'Kyle Abbott'}"

In [380]:
df_final['batting_second_team'].iloc[10]

"{'Shakib Al Hasan', 'Mushfiqur Rahim', 'Rony Talukdar', 'Mustafizur Rahman', 'Mashrafe Mortaza', 'Sabbir Rahman', 'Soumya Sarkar', 'Nasir Hossain', 'Tamim Iqbal', 'Arafat Sunny', 'Litton Das'}"

In [381]:
df_final['total_players'] = df_final['batting_first_team'] + ',' + df_final['batting_second_team']

C:\Users\noahr\AppData\Local\Temp/ipykernel_8896/4213991372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['total_players'] = df_final['batting_first_team'] + ',' + df_final['batting_second_team']

In [382]:
df_final.columns

Index(['Team 1', 'Team 2', 'Winner', 'Margin', 'Ground', 'Toss', 'Target',
       'Total_Players', 'batting_first_team', 'batting_second_team',
       'Toss_Decision', 'bat_first', 'total_players'],
      dtype='object')

In [383]:
import re,html
def clean(text):
    #tags like <tag>
    text = re.sub(r'<[^<>]*>', ' ',text)
    #Markdown Urls
    text = re.sub(r'\[([^\[\]]*)\]\([^\(\)]*\)',r'\1',text)
    #Remove Punctuation
    text = re.sub(r'([!?,])\1+', r'\1', text)
    #Remove all URL's
    text = re.sub(r'http.*', ' ', text)
    #Remove @
    text = re.sub(r'@\w*', ' ', text)
    #text or code in brackets
    text = re.sub(r'\[[^\[\]]*\]',' ',text)
    # remove b"
    text = text.replace('b\"',' ') 
    # remove b'
    text = text.replace("\'",' ') 
    # remove \\n
    text = text.replace('{',' ')
    text = text.replace('}',' ')
    #Remove &amp
    text = text.replace('&amp',' ') 
    # remove UTF-8 code like \\xe2
    text = re.sub(r'(\\x(.){2})', ' ',text) 
    #Standalone sequences for specials
    text = re.sub(r'(?:^|\s)[;.\'\"&#<>{}\[\]+|\\:-]{1,}(?:\s|$)', ' ',text)
    #stand alone sequence of hyphens 
    text= re.sub(r'(?:^|\s)[\-=\+]{2,}(?:\s|$)', ' ',text)
    # Sequence of white spaces
    text = re.sub(r'\s+',' ',text)
    return text.strip('"')

In [384]:
def cleaned_total_players(tp):
    lst = []
    a = clean(tp)
    for i in a.split(','):
        i = i.lstrip()
        i = i.rstrip()
        i = i.strip('"')
        lst.append(i)
    return lst

In [385]:
cleaned_total_players(df_final['total_players'].iloc[51])

['Matt Machan',
 'Mark Watt',
 'Matthew Cross',
 'Richie Berrington',
 'Rob Taylor',
 'Calum MacLeod',
 'Michael Leask',
 'Safyaan Sharif',
 'Preston Mommsen',
 'Kyle Coetzer',
 'Alasdair Evans',
 'Ahsan Malik',
 'vian Kingma',
 'Sikander Zulfiqar',
 'Peter Borren',
 'Ben Cooper',
 'Wesley Barresi',
 'Max O Dowd',
 'Vivian Kingma',
 'Paul van Meekeren',
 'Michael Swart',
 'Stephan Myburgh',
 'Michael Rippon']

In [386]:
df_final['cleaned_total_players'] = df_final['total_players'].apply(cleaned_total_players)

C:\Users\noahr\AppData\Local\Temp/ipykernel_8896/3060490323.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['cleaned_total_players'] = df_final['total_players'].apply(cleaned_total_players)

In [387]:
df_final.columns

Index(['Team 1', 'Team 2', 'Winner', 'Margin', 'Ground', 'Toss', 'Target',
       'Total_Players', 'batting_first_team', 'batting_second_team',
       'Toss_Decision', 'bat_first', 'total_players', 'cleaned_total_players'],
      dtype='object')

In [388]:
df_final['Toss'].replace('United Arab Emirates',5,inplace=True)

C:\Users\noahr\anaconda3\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [389]:
df_final.sample(10)

,Team 1,Team 2,Winner,Margin,Ground,Toss,Target,Total_Players,batting_first_team,batting_second_team,Toss_Decision,bat_first,total_players,cleaned_total_players
14,16,10,16,6 wickets,Kolkata,16,158,"['Brandon King', 'Kyle Mayers', 'Nicholas Poor...","{'Nicholas Pooran', 'Rovman Powell', 'Brandon ...","{'Deepak Chahar', 'nkatesh Iyer', 'Harshal Pat...",India field first,10,"{'Nicholas Pooran', 'Rovman Powell', 'Brandon ...","[Nicholas Pooran, Rovman Powell, Brandon King,..."
98,9,11,11,10 wickets,Colombo (RPS),11,129,"['Pathum Nissanka', 'Danushka Gunathilaka', 'C...","{'Bhanuka Rajapaksa', 'Nuwan Thushara', 'Kusal...","{'Kane Richardson', 'Ashton Agar', 'Mitchell S...",Australia field first,9,"{'Bhanuka Rajapaksa', 'Nuwan Thushara', 'Kusal...","[Bhanuka Rajapaksa, Nuwan Thushara, Kusal Mend..."
39,16,9,16,62 runs,Lucknow,9,200,"['Rohit Sharma', 'Ishan Kishan', 'Shreyas Iyer...","{'Jasprit Bumrah', 'nkatesh Iyer', 'Harshal Pa...","{'Dinesh Chandimal', 'Pathum Nissanka', 'Chami...",Sri Lanka field first,16,"{'Jasprit Bumrah', 'nkatesh Iyer', 'Harshal Pa...","[Jasprit Bumrah, nkatesh Iyer, Harshal Patel, ..."
701,11,16,16,11 runs,Canberra,11,162,"['KL Rahul', 'Shikhar Dhawan', 'Virat Kohli', ...","{'Sanju Samson', 'Shikhar Dhawan', 'T Nataraja...","{'Josh Hazlewood', 'Glenn Maxwell', 'Sean Abbo...",Australia field first,16,"{'Sanju Samson', 'Shikhar Dhawan', 'T Nataraja...","[Sanju Samson, Shikhar Dhawan, T Natarajan, Ha..."
257,1,4,1,4 runs,Rotterdam,4,145,"['Tobias Visee', ""Max O'Dowd"", 'Ben Cooper', '...","{'Tobias Visee', 'Pieter Seelaar', 'Sikander Z...","{'Scotland', 'Stuart Thompson', 'William Porte...",Ireland field first,1,"{'Tobias Visee', 'Pieter Seelaar', 'Sikander Z...","[Tobias Visee, Pieter Seelaar, Sikander Zulfiq..."
175,15,16,16,49 runs,Birmingham,15,171,"['Rohit Sharma', 'Rishabh Pant', 'Virat Kohli'...","{'Jasprit Bumrah', 'Hardik Pandya', 'Yuzvendra...","{'Chris Jordan', 'Matt Parkinson', 'Dawid Mala...",England field first,16,"{'Jasprit Bumrah', 'Hardik Pandya', 'Yuzvendra...","[Jasprit Bumrah, Hardik Pandya, Yuzvendra Chah..."
703,11,16,11,12 runs,Sydney,16,187,"['Matthew Wade', 'Aaron Finch', 'Steven Smith'...","{'Andrew Tye', 'Glenn Maxwell', 'Daniel Sams',...","{'Sanju Samson', 'Shikhar Dhawan', 'Shreyas Iy...",India field first,11,"{'Andrew Tye', 'Glenn Maxwell', 'Daniel Sams',...","[Andrew Tye, Glenn Maxwell, Daniel Sams, Sean ..."
269,1,12,12,16 runs,The Hague,12,149,"['Martin Guptill', 'Finn Allen', 'Dane Cleaver...","{'Glenn Phillips', 'James Neesham', 'Daryl Mit...","{'Ryan Klein', 'Shariz Ahmad', 'Scott Edwards'...",New Zealand bat first,12,"{'Glenn Phillips', 'James Neesham', 'Daryl Mit...","[Glenn Phillips, James Neesham, Daryl Mitchell..."
154,9,11,11,4 wickets,Colombo (RPS),9,129,"['Kusal Perera', 'Tillakaratne Dilshan', 'Dhan...","{'Kusal Mendis', 'Tillakaratne Dilshan', 'Dine...","{'Glenn Maxwell', 'Matthew Wade', 'Adam Zampa'...",Sri Lanka bat first,9,"{'Kusal Mendis', 'Tillakaratne Dilshan', 'Dine...","[Kusal Mendis, Tillakaratne Dilshan, Dinesh Ch..."
589,11,14,11,7 wickets,Canberra,14,151,"['Babar Azam', 'Fakhar Zaman', 'Haris Sohail',...","{'Mohammad Irfan', 'Wahab Riaz', 'Asif Ali', '...","{'Kane Richardson', 'Ben McDermott', 'Adam Zam...",Pakistan bat first,14,"{'Mohammad Irfan', 'Wahab Riaz', 'Asif Ali', '...","[Mohammad Irfan, Wahab Riaz, Asif Ali, Mohamma..."

In [390]:
df_final.isnull().sum()

Team 1                   0
Team 2                   0
Winner                   0
Margin                   0
Ground                   0
Toss                     0
Target                   0
Total_Players            0
batting_first_team       0
batting_second_team      0
Toss_Decision            0
bat_first                0
total_players            0
cleaned_total_players    0
dtype: int64

In [392]:
X_cols = ['Team 1','Team 2','Ground','Toss','Target','bat_first','total_players']
Y_cols = ['Winner']

In [393]:
type(df_final['total_players'].iloc[45])

str

In [394]:
df_grd_dummies = pd.get_dummies(data=df_final, columns=['Ground'])

In [395]:
df_grd_dummies

,Team 1,Team 2,Winner,Margin,Toss,Target,Total_Players,batting_first_team,batting_second_team,Toss_Decision,...,Ground_Southampton,Ground_Sydney,Ground_Sylhet,Ground_Tarouba,Ground_Taunton,Ground_The Hague,Ground_Thiruvananthapuram,Ground_Visakhapatnam,Ground_Wankhede,Ground_Wellington
0,13,10,10,4 wickets,13,166,"['Reeza Hendricks', 'Morne van Wyk', 'Faf du P...","{'Morne van Wyk', 'Faf du Plessis', 'David Mil...","{'Daren Sammy', 'Dwayne Bravo', 'Dwayne Smith'...",South Africa bat first,...,0,0,0,0,0,0,0,0,0,0
1,13,10,10,4 wickets,10,232,"['Rilee Rossouw', 'Morne van Wyk', 'Faf du Ple...","{'Marchant de Lange', 'Morne van Wyk', 'Faf du...","{'Daren Sammy', 'Dwayne Bravo', 'Dwayne Smith'...",West Indies field first,...,0,0,0,0,0,0,0,0,0,0
2,13,10,13,69 runs,10,196,"['Morne van Wyk', 'Reeza Hendricks', 'David Wi...","{'Marchant de Lange', 'Morne van Wyk', 'David ...","{'Andre Fletcher', 'Daren Sammy', 'Dwayne Brav...",West Indies field first,...,0,0,0,0,0,0,0,0,0,0
3,8,14,8,7 wickets,14,142,"['Mukhtar Ahmed', 'Ahmed Shehzad', 'Shahid Afr...","{'Umar Gul', 'Wahab Riaz', 'Ahmed Shehzad', 'S...","{'Shakib Al Hasan', 'Mushfiqur Rahim', 'Mustaf...",Pakistan bat first,...,0,0,0,0,0,0,0,0,0,0
4,14,6,14,5 wickets,6,173,"['Hamilton Masakadza', 'Vusi Sibanda', 'Charle...","{'Sean Williams', 'Sikandar Raza', 'Chris Mpof...","{'Wahab Riaz', 'Ahmed Shehzad', 'Bilawal Bhatt...",Zimbabwe bat first,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,4,7,4,7 wickets,7,169,"['Rahmanullah Gurbaz', 'Usman Ghani', 'Hashmat...","{'Fazalhaq Farooqi', 'Rashid Khan', 'Najibulla...","{'Paul Stirling', 'Harry Tector', 'George Dock...",Afghanistan bat first,...,0,0,0,0,0,0,0,0,0,0
275,10,12,12,13 runs,10,186,"['Martin Guptill', 'Devon Conway', 'Kane Willi...","{'Glenn Phillips', 'James Neesham', 'Kane Will...","{'Jason Holder', 'Shamarh Brooks', 'Nicholas P...",West Indies field first,...,0,0,0,0,0,0,0,0,0,0
276,4,7,4,5 wickets,7,123,"['Rahmanullah Gurbaz', 'Usman Ghani', 'Hashmat...","{'Fazalhaq Farooqi', 'Rashid Khan', 'Najibulla...","{'Paul Stirling', 'Harry Tector', 'George Dock...",Afghanistan bat first,...,0,0,0,0,0,0,0,0,0,0
278,4,7,7,22 runs,4,190,"['Hazratullah Zazai', 'Rahmanullah Gurbaz', 'I...","{'Hazratullah Zazai', 'Fazalhaq Farooqi', 'Ras...","{'Fionn Hand', 'Paul Stirling', 'Harry Tector'...",Ireland field first,...,0,0,0,0,0,0,0,0,0,0
279,10,12,12,90 runs,12,216,"['Martin Guptill', 'Devon Conway', 'Kane Willi...","{'Glenn Phillips', 'James Neesham', 'Kane Will...","{'Jason Holder', 'Shamarh Brooks', 'Nicholas P...",New Zealand bat first,...,0,0,0,0,0,0,0,0,0,0

In [396]:
test = df_grd_dummies["cleaned_total_players"].iloc[0]

In [397]:
df_plyr_dummies = df_grd_dummies.cleaned_total_players.str.join('|').str.get_dummies()

In [398]:
df_total_dummies = pd.concat([df_grd_dummies, df_plyr_dummies], axis=1)

In [399]:
df_total_dummies

,Team 1,Team 2,Winner,Margin,Toss,Target,Total_Players,batting_first_team,batting_second_team,Toss_Decision,...,Zawar Farid,Zimbabwe,asammy Permaul,at Kohli,ctor Nyauchi,jay Shankar,kum Sanjaya,nkatesh Iyer,shwa Fernando,vian Kingma
0,13,10,10,4 wickets,13,166,"['Reeza Hendricks', 'Morne van Wyk', 'Faf du P...","{'Morne van Wyk', 'Faf du Plessis', 'David Mil...","{'Daren Sammy', 'Dwayne Bravo', 'Dwayne Smith'...",South Africa bat first,...,0,0,0,0,0,0,0,0,0,0
1,13,10,10,4 wickets,10,232,"['Rilee Rossouw', 'Morne van Wyk', 'Faf du Ple...","{'Marchant de Lange', 'Morne van Wyk', 'Faf du...","{'Daren Sammy', 'Dwayne Bravo', 'Dwayne Smith'...",West Indies field first,...,0,0,0,0,0,0,0,0,0,0
2,13,10,13,69 runs,10,196,"['Morne van Wyk', 'Reeza Hendricks', 'David Wi...","{'Marchant de Lange', 'Morne van Wyk', 'David ...","{'Andre Fletcher', 'Daren Sammy', 'Dwayne Brav...",West Indies field first,...,0,0,0,0,0,0,0,0,0,0
3,8,14,8,7 wickets,14,142,"['Mukhtar Ahmed', 'Ahmed Shehzad', 'Shahid Afr...","{'Umar Gul', 'Wahab Riaz', 'Ahmed Shehzad', 'S...","{'Shakib Al Hasan', 'Mushfiqur Rahim', 'Mustaf...",Pakistan bat first,...,0,0,0,0,0,0,0,0,0,0
4,14,6,14,5 wickets,6,173,"['Hamilton Masakadza', 'Vusi Sibanda', 'Charle...","{'Sean Williams', 'Sikandar Raza', 'Chris Mpof...","{'Wahab Riaz', 'Ahmed Shehzad', 'Bilawal Bhatt...",Zimbabwe bat first,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,4,7,4,7 wickets,7,169,"['Rahmanullah Gurbaz', 'Usman Ghani', 'Hashmat...","{'Fazalhaq Farooqi', 'Rashid Khan', 'Najibulla...","{'Paul Stirling', 'Harry Tector', 'George Dock...",Afghanistan bat first,...,0,0,0,0,0,0,0,0,0,0
275,10,12,12,13 runs,10,186,"['Martin Guptill', 'Devon Conway', 'Kane Willi...","{'Glenn Phillips', 'James Neesham', 'Kane Will...","{'Jason Holder', 'Shamarh Brooks', 'Nicholas P...",West Indies field first,...,0,0,0,0,0,0,0,0,0,0
276,4,7,4,5 wickets,7,123,"['Rahmanullah Gurbaz', 'Usman Ghani', 'Hashmat...","{'Fazalhaq Farooqi', 'Rashid Khan', 'Najibulla...","{'Paul Stirling', 'Harry Tector', 'George Dock...",Afghanistan bat first,...,0,0,0,0,0,0,0,0,0,0
278,4,7,7,22 runs,4,190,"['Hazratullah Zazai', 'Rahmanullah Gurbaz', 'I...","{'Hazratullah Zazai', 'Fazalhaq Farooqi', 'Ras...","{'Fionn Hand', 'Paul Stirling', 'Harry Tector'...",Ireland field first,...,0,0,0,0,0,0,0,0,0,0
279,10,12,12,90 runs,12,216,"['Martin Guptill', 'Devon Conway', 'Kane Willi...","{'Glenn Phillips', 'James Neesham', 'Kane Will...","{'Jason Holder', 'Shamarh Brooks', 'Nicholas P...",New Zealand bat first,...,0,0,0,0,0,0,0,0,0,0

In [400]:
df_total_dummies.drop(["Total_Players","batting_first_team","batting_second_team","cleaned_total_players","total_players"],inplace=True,axis=1)

In [401]:
df_total_dummies.drop("Margin",axis=1,inplace=True)

In [402]:
df_total_dummies.to_excel("df_total_dummies.xlsx")

In [3]:
df = pd.read_excel("df_total_dummies.xlsx",index_col=False)

In [4]:
df.head()

,Unnamed: 0,Team 1,Team 2,Winner,Toss,Target,Toss_Decision,bat_first,Ground_Abu Dhabi,Ground_Adelaide,...,Zawar Farid,Zimbabwe,asammy Permaul,at Kohli,ctor Nyauchi,jay Shankar,kum Sanjaya,nkatesh Iyer,shwa Fernando,vian Kingma
0,0,13,10,10,13,166,South Africa bat first,13,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,13,10,10,10,232,West Indies field first,13,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,13,10,13,10,196,West Indies field first,13,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,8,14,8,14,142,Pakistan bat first,14,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,14,6,14,6,173,Zimbabwe bat first,6,0,0,...,0,0,0,0,0,0,0,0,0,0

In [405]:
grounds = df.loc[:,"Ground_Abu Dhabi":"Ground_Wellington"]

In [406]:
grounds

,Ground_Abu Dhabi,Ground_Adelaide,Ground_Al Amerat,Ground_Amstelveen,Ground_Auckland,Ground_Basseterre,Ground_Belfast,Ground_Bengaluru,Ground_Birmingham,Ground_Bloemfontein,...,Ground_Southampton,Ground_Sydney,Ground_Sylhet,Ground_Tarouba,Ground_Taunton,Ground_The Hague,Ground_Thiruvananthapuram,Ground_Visakhapatnam,Ground_Wankhede,Ground_Wellington
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
355,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
356,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
357,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
358,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [407]:
players = df.loc[:,"D Arcy Short":]

In [408]:
#ground PCA
from sklearn.decomposition import PCA
pca = PCA(n_components=10)
principalComponents = pca.fit_transform(grounds)
groundpca = pd.DataFrame(data = principalComponents)

In [409]:
groundpca

,0,1,2,3,4,5,6,7,8,9
0,-0.049523,-0.031470,-0.078695,-0.047551,1.065602e-16,1.063840e-14,-0.079788,-8.393606e-16,3.799447e-15,3.035595e-15
1,-0.046060,-0.028515,-0.070159,-0.037667,5.333696e-16,6.200280e-15,-0.050565,-7.054364e-16,9.791386e-16,4.502636e-16
2,-0.040408,-0.024006,-0.057653,-0.026607,1.112863e-16,4.615110e-15,-0.029186,3.708352e-16,9.005386e-16,6.772811e-16
3,-0.153176,-0.467314,0.828907,0.034925,8.223264e-17,-5.257588e-15,0.018990,-1.164591e-16,-1.013325e-16,-3.206781e-16
4,-0.058288,-0.039697,-0.104000,-0.100060,7.108962e-01,-4.016132e-01,0.511848,6.766270e-16,2.118717e-14,-1.170638e-14
...,...,...,...,...,...,...,...,...,...,...
354,-0.046060,-0.028515,-0.070159,-0.037667,2.063604e-16,6.723300e-15,-0.050565,-8.471207e-16,1.185294e-15,1.318400e-15
355,-0.038072,-0.022248,-0.052935,-0.023200,8.047150e-17,3.658954e-15,-0.024092,-3.501741e-17,3.149039e-16,2.209444e-16
356,-0.046060,-0.028515,-0.070159,-0.037667,2.063604e-16,6.723300e-15,-0.050565,-8.471207e-16,1.185294e-15,1.318400e-15
357,-0.046060,-0.028515,-0.070159,-0.037667,2.063604e-16,6.723300e-15,-0.050565,-8.471207e-16,1.185294e-15,1.318400e-15
358,-0.038072,-0.022248,-0.052935,-0.023200,8.047150e-17,3.658954e-15,-0.024092,-3.501741e-17,3.149039e-16,2.209444e-16

In [410]:
#player PCA
from sklearn.decomposition import PCA
pca = PCA(n_components=10)
principalComponents = pca.fit_transform(players)
playerpca = pd.DataFrame(data = principalComponents)

In [411]:
playerpca

,0,1,2,3,4,5,6,7,8,9
0,-0.343354,0.082445,-0.235344,-0.471204,0.876396,0.135037,0.953077,-0.647611,0.031703,1.670468
1,-0.250065,0.016750,-0.168346,-0.356440,0.579953,0.137465,1.006177,-0.553276,-0.113870,1.302937
2,-0.314639,-0.072958,-0.082066,-0.325339,0.368179,0.070842,0.771161,-0.439352,-0.059033,0.922704
3,-0.099343,-0.348855,1.513596,1.267544,0.555753,0.101364,0.016400,-0.363255,0.455098,-0.138707
4,-0.191307,-1.169880,0.203661,0.457529,-0.077207,-0.819104,0.505699,1.316228,1.111645,-0.225829
...,...,...,...,...,...,...,...,...,...,...
354,0.095290,-1.050563,0.557763,-1.701395,-0.235971,0.347049,-0.352681,0.185901,-1.194670,0.610644
355,-0.804895,-0.561053,-0.689922,0.602737,-1.040690,2.332497,-0.282789,-0.266603,-0.438533,0.207337
356,0.095290,-1.050563,0.557763,-1.701395,-0.235971,0.347049,-0.352681,0.185901,-1.194670,0.610644
357,0.078101,-1.039209,0.532960,-1.698505,-0.249068,0.352047,-0.349658,0.139087,-1.191465,0.616210
358,-0.797221,-0.550771,-0.677265,0.583958,-1.039467,2.292350,-0.269535,-0.270839,-0.428638,0.214897

In [5]:
df_new = df.drop(["Unnamed: 0","Winner"],axis=1)

In [6]:
df_new

,Team 1,Team 2,Toss,Target,Toss_Decision,bat_first,Ground_Abu Dhabi,Ground_Adelaide,Ground_Al Amerat,Ground_Amstelveen,...,Zawar Farid,Zimbabwe,asammy Permaul,at Kohli,ctor Nyauchi,jay Shankar,kum Sanjaya,nkatesh Iyer,shwa Fernando,vian Kingma
0,13,10,13,166,South Africa bat first,13,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,13,10,10,232,West Indies field first,13,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,13,10,10,196,West Indies field first,13,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,8,14,14,142,Pakistan bat first,14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,14,6,6,173,Zimbabwe bat first,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,4,7,7,169,Afghanistan bat first,7,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
355,10,12,10,186,West Indies field first,12,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
356,4,7,7,123,Afghanistan bat first,7,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
357,4,7,4,190,Ireland field first,7,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
358,10,12,12,216,New Zealand bat first,12,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df

,Unnamed: 0,Team 1,Team 2,Winner,Toss,Target,Toss_Decision,bat_first,Ground_Abu Dhabi,Ground_Adelaide,...,Zawar Farid,Zimbabwe,asammy Permaul,at Kohli,ctor Nyauchi,jay Shankar,kum Sanjaya,nkatesh Iyer,shwa Fernando,vian Kingma
0,0,13,10,10,13,166,South Africa bat first,13,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,13,10,10,10,232,West Indies field first,13,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,13,10,13,10,196,West Indies field first,13,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,8,14,8,14,142,Pakistan bat first,14,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,14,6,14,6,173,Zimbabwe bat first,6,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,274,4,7,4,7,169,Afghanistan bat first,7,0,0,...,0,0,0,0,0,0,0,0,0,0
355,275,10,12,12,10,186,West Indies field first,12,0,0,...,0,0,0,0,0,0,0,0,0,0
356,276,4,7,4,7,123,Afghanistan bat first,7,0,0,...,0,0,0,0,0,0,0,0,0,0
357,278,4,7,7,4,190,Ireland field first,7,0,0,...,0,0,0,0,0,0,0,0,0,0
358,279,10,12,12,12,216,New Zealand bat first,12,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
for i in range(len(df)):
    if (df["Winner"].iloc[i] == df["Team 1"].iloc[i]):
        df['Winner'].iloc[i] = 0
    else:
        df['Winner'].iloc[i] = 1

C:\Users\noahr\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [9]:
df = df.drop(["Unnamed: 0","Toss_Decision"],axis=1)

In [10]:
X = df.loc[:, df.columns != "Winner"]

In [11]:
X

,Team 1,Team 2,Toss,Target,bat_first,Ground_Abu Dhabi,Ground_Adelaide,Ground_Al Amerat,Ground_Amstelveen,Ground_Auckland,...,Zawar Farid,Zimbabwe,asammy Permaul,at Kohli,ctor Nyauchi,jay Shankar,kum Sanjaya,nkatesh Iyer,shwa Fernando,vian Kingma
0,13,10,13,166,13,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,13,10,10,232,13,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,13,10,10,196,13,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,8,14,14,142,14,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,14,6,6,173,6,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,4,7,7,169,7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
355,10,12,10,186,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
356,4,7,7,123,7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
357,4,7,4,190,7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
358,10,12,12,216,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
y = df.pop("Winner")

In [13]:
X

,Team 1,Team 2,Toss,Target,bat_first,Ground_Abu Dhabi,Ground_Adelaide,Ground_Al Amerat,Ground_Amstelveen,Ground_Auckland,...,Zawar Farid,Zimbabwe,asammy Permaul,at Kohli,ctor Nyauchi,jay Shankar,kum Sanjaya,nkatesh Iyer,shwa Fernando,vian Kingma
0,13,10,13,166,13,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,13,10,10,232,13,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,13,10,10,196,13,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,8,14,14,142,14,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,14,6,6,173,6,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,4,7,7,169,7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
355,10,12,10,186,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
356,4,7,7,123,7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
357,4,7,4,190,7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
358,10,12,12,216,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
from sklearn.decomposition import PCA
pca = PCA(n_components=50)
principalComponents = pca.fit_transform(X)
result = pd.DataFrame(data = principalComponents)

In [15]:
result

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,-0.618290,-3.825950,-1.983795,0.332857,-1.733379,-0.583248,0.001584,-0.507797,0.408065,-0.467624,...,-0.192568,0.366488,-0.186559,-0.822662,0.446036,-0.634195,0.409825,-0.470320,-0.399493,0.409251
1,65.326057,-0.435378,-2.836170,-0.778953,-0.179469,-0.197706,-0.024777,-0.071905,0.338365,-0.508072,...,-0.168132,0.550100,-0.151853,-0.750819,0.560058,-0.410719,0.449629,-0.637142,-0.233573,0.461208
2,29.345473,-1.413831,-2.417269,-1.332648,-0.263500,-0.377720,-0.008371,0.005159,0.249946,-0.703110,...,-0.234470,0.134122,-0.131396,-0.605927,0.233615,-0.077230,0.128596,-0.375333,-0.416449,0.482550
3,-24.538521,-4.771297,4.882002,0.411181,-2.437829,-0.720288,0.792314,1.358413,1.336982,0.051115,...,0.343301,-0.069272,0.092246,0.105859,0.093882,-0.015235,-0.310986,0.393131,-0.499455,0.073373
4,6.072532,4.928834,-6.365387,0.213222,3.212035,-0.053822,-0.819550,0.922041,0.429409,-0.405380,...,-0.253077,-0.342082,-0.362761,-0.317885,0.808555,-0.716294,-0.016909,0.018273,0.392211,-0.430769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,2.077644,8.503518,2.028431,0.709897,-1.329927,-0.899297,-0.011054,-1.008486,-0.204820,-0.560785,...,0.016507,-0.032876,-0.102169,-0.238239,0.313050,0.222093,0.083067,0.110868,-0.051041,-0.242747
355,19.354725,-0.625263,1.262653,-0.608842,0.482307,-0.525836,-0.450216,0.732747,-0.809308,-1.312074,...,0.048427,0.622261,-0.334232,-0.471417,0.457404,0.179845,0.145546,0.279660,-0.030318,0.274853
356,-43.893720,7.240228,2.550316,-0.035672,-1.479198,-1.011886,-0.037031,-1.165341,-0.187425,-0.630279,...,0.013293,-0.039642,-0.092345,-0.249909,0.354157,0.214231,0.097822,0.151929,-0.062426,-0.221492
357,23.050469,10.626751,1.679408,-1.118733,0.091920,-0.694686,-0.059275,-0.826752,-0.122805,-0.584710,...,0.125604,-0.019829,-0.179240,-0.209978,0.371862,0.167366,0.085854,0.037594,-0.054749,-0.201193
358,49.345899,-0.835312,1.003944,1.311144,-0.296862,-0.560536,-0.385389,0.771555,-0.877181,-1.200390,...,0.009624,0.655443,-0.327782,-0.464634,0.366759,0.173292,0.183116,0.294555,0.018444,0.286482

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, train_labels, test_labels = train_test_split(result, y, test_size=.30, random_state=1)

In [17]:
print(test_labels.shape)
print(train_labels.shape)
print(X_train.shape)
print(X_test.shape)

(108,)
(251,)
(251, 50)
(108, 50)

In [18]:
X_test

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
127,-28.531985,-5.975863,3.418163,0.271983,-1.519583,-0.847618,-0.921474,0.980382,-0.354737,-1.334423,...,0.338461,0.270574,0.060824,0.676789,-0.731865,-0.212347,-0.306757,0.311937,-0.014176,-0.103976
111,44.853255,16.208867,-2.326161,-0.242817,-0.896885,1.001775,-0.308373,-0.663939,-1.445408,0.134963,...,0.819886,-0.026804,0.016653,-0.550105,-0.142675,-0.155256,0.023461,0.138099,-0.025941,-0.068477
352,25.454491,-4.587572,-4.205347,-3.733089,-0.372295,-1.102872,0.710522,-0.126140,-0.729958,-1.032509,...,0.255632,0.839896,-0.181086,-0.200167,0.360308,0.496066,0.181556,0.027194,-0.089828,-0.129061
222,32.849718,14.846916,2.414168,4.897786,0.664168,-0.349343,0.008812,-0.347678,0.023963,0.450233,...,0.017194,-0.083210,0.124707,0.303142,-0.035841,0.263758,0.335947,-0.323585,-0.190506,-0.068591
174,0.327049,-3.103173,5.184202,6.273643,1.071089,0.457754,3.171493,1.060773,0.739526,0.640222,...,0.276794,0.497123,0.504501,-0.213570,0.644314,-0.611617,0.032757,-0.288647,0.161535,-0.177089
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,12.533433,-5.688592,7.637359,1.221901,-3.421943,-1.139213,0.533934,-0.115926,0.268605,0.214386,...,-0.437636,-0.057861,0.084987,-0.174928,-0.086631,-0.177317,-0.151274,0.255593,1.401623,0.360731
213,-12.587904,-4.531708,1.507585,0.316882,1.343371,-0.145089,-1.971580,1.790682,-0.807490,-0.871633,...,-0.132249,-0.583893,-0.177412,-0.358218,0.492264,0.358932,0.189918,-0.630643,0.137398,-0.797212
0,-0.618290,-3.825950,-1.983795,0.332857,-1.733379,-0.583248,0.001584,-0.507797,0.408065,-0.467624,...,-0.192568,0.366488,-0.186559,-0.822662,0.446036,-0.634195,0.409825,-0.470320,-0.399493,0.409251
186,-6.214790,18.287791,0.115694,0.570771,-0.101400,0.323876,-0.367952,-0.570459,-1.002277,0.492452,...,-0.304213,-0.298872,-0.218186,0.063144,0.243475,0.193502,-0.132037,-0.083736,-0.188488,0.280672
105,29.272114,1.585875,-3.051569,-2.033298,-0.233913,-0.341041,0.094732,2.176325,0.934140,-0.471504,...,-0.227730,0.034919,0.992166,-0.218872,0.675232,0.345071,-0.108835,0.534611,0.171097,0.325104

In [19]:
from sklearn.ensemble import RandomForestClassifier

In [20]:
rfcl = RandomForestClassifier(n_estimators = 501)
rfcl = rfcl.fit(X_train, train_labels)

In [21]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'max_depth': [1, 3],
    'max_features': [1, 3],
    'min_samples_leaf': [5, 7],
    'min_samples_split': [50, 70],
    'n_estimators': [100, 200]
}

rfcl = RandomForestClassifier()

grid_search = GridSearchCV(estimator = rfcl, param_grid = param_grid, cv = 3)

In [22]:
grid_search.fit(X_train, train_labels)

GridSearchCV(cv=3, estimator=RandomForestClassifier(),
             param_grid={'max_depth': [1, 3], 'max_features': [1, 3],
                         'min_samples_leaf': [5, 7],
                         'min_samples_split': [50, 70],
                         'n_estimators': [100, 200]})

In [430]:
grid_search.best_params_

{'max_depth': 3,
 'max_features': 3,
 'min_samples_leaf': 5,
 'min_samples_split': 70,
 'n_estimators': 100}

In [23]:
best_grid = grid_search.best_estimator_

In [24]:
ytrain_predict = best_grid.predict(X_train)
ytest_predict = best_grid.predict(X_test)

In [25]:
from sklearn.metrics import confusion_matrix,classification_report

In [26]:
confusion_matrix(train_labels,ytrain_predict)

array([[106,  17],
       [ 14, 114]], dtype=int64)

In [27]:
confusion_matrix(test_labels,ytest_predict)

array([[31, 25],
       [24, 28]], dtype=int64)

In [28]:
print(classification_report(train_labels,ytrain_predict))

              precision    recall  f1-score   support

           0       0.88      0.86      0.87       123
           1       0.87      0.89      0.88       128

    accuracy                           0.88       251
   macro avg       0.88      0.88      0.88       251
weighted avg       0.88      0.88      0.88       251

In [30]:
import pickle as plk

plk.dump(grid_search.best_estimator_,open('rfc_model.pkl', 'wb'))

In [437]:
from sklearn.linear_model import LogisticRegression

In [438]:
logreg = LogisticRegression()
logreg.fit(X_train, train_labels)

C:\Users\noahr\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [439]:
X_test[0].shape

(108,)

In [440]:
y_pred = logreg.predict(X_test)

In [441]:
print(classification_report(y_pred,test_labels))

              precision    recall  f1-score   support

           0       0.64      0.59      0.62        61
           1       0.52      0.57      0.55        47

    accuracy                           0.58       108
   macro avg       0.58      0.58      0.58       108
weighted avg       0.59      0.58      0.58       108

In [442]:
X_train, X_test, train_labels, test_labels = train_test_split(df, y, test_size=.30, random_state=1)

In [443]:
logreg = LogisticRegression()
logreg.fit(X_train, train_labels)

C:\Users\noahr\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [444]:
y_pred = logreg.predict(X_test)
y_pred = y_pred.reshape(-1,1)

In [445]:
a = np.array(test_labels)
a = a.reshape(-1,1)
print(y_pred.shape)
print(a.shape)

(108, 1)
(108, 1)

In [446]:
print(classification_report(y_pred,a))

              precision    recall  f1-score   support

           0       0.68      0.64      0.66        59
           1       0.60      0.63      0.61        49

    accuracy                           0.64       108
   macro avg       0.64      0.64      0.64       108
weighted avg       0.64      0.64      0.64       108

In [39]:
a = df.columns

In [40]:
test_df = pd.DataFrame(columns=a)

In [41]:
test_df

Empty DataFrame
Columns: [Team 1, Team 2, Toss, Target, bat_first, Ground_Abu Dhabi, Ground_Adelaide, Ground_Al Amerat, Ground_Amstelveen, Ground_Auckland, Ground_Basseterre, Ground_Belfast, Ground_Bengaluru, Ground_Birmingham, Ground_Bloemfontein, Ground_Bready, Ground_Bridgetown, Ground_Brisbane, Ground_Bristol, Ground_Bulawayo, Ground_Canberra, Ground_Cape Town, Ground_Cardiff, Ground_Centurion, Ground_Chennai, Ground_Chester-le-Street, Ground_Christchurch, Ground_Colombo (RPS), Ground_Cuttack, Ground_Dehradun, Ground_Delhi, Ground_Deventer, Ground_Dharamsala, Ground_Dubai (DSC), Ground_Dublin (Malahide), Ground_Durban, Ground_East London, Ground_Edinburgh, Ground_Geelong, Ground_Gqeberha, Ground_Greater Noida, Ground_Guwahati, Ground_Hamilton, Ground_Harare, Ground_Hobart, Ground_Hyderabad (Deccan), Ground_ICCA Dubai, Ground_Indore, Ground_Johannesburg, Ground_Kanpur, Ground_Karachi, Ground_Khulna, Ground_Kingston, Ground_Kolkata, Ground_Lahore, Ground_Lauderhill, Ground_Lucknow, Ground_Manchester, Ground_Melbourne, Ground_Mirpur, Ground_Mohali, Ground_Mount Maunganui, Ground_Nagpur, Ground_Napier, Ground_Nelson, Ground_Nottingham, Ground_Paarl, Ground_Pallekele, Ground_Perth, Ground_Port of Spain, Ground_Potchefstroom, Ground_Providence, Ground_Pune, Ground_Rajkot, Ground_Ranchi, Ground_Rawalpindi, Ground_Roseau, Ground_Rotterdam, Ground_Sharjah, Ground_Southampton, Ground_Sydney, Ground_Sylhet, Ground_Tarouba, Ground_Taunton, Ground_The Hague, Ground_Thiruvananthapuram, Ground_Visakhapatnam, Ground_Wankhede, Ground_Wellington, AB de Villiers, Aamer Yamin, Aaron Finch, Aaron Phangiso, Abdul Shakoor, Abdullah Shafique, Abu Hider, Abu Jayed, Abul Hasan, Adam Milne, Adam Zampa, ...]
Index: []

[0 rows x 815 columns]

In [42]:
test_df.T.to_excel('Test_Df.xlsx')

In [43]:
ind_eng_df = pd.read_excel('Test_Df.xlsx',skiprows=0)

In [44]:
from sklearn.decomposition import PCA
pca = PCA(n_components=50)
principalComponents = pca.fit_transform(X)
result = pd.DataFrame(data = principalComponents)

In [45]:
plk.dump(principalComponents,open('pca.pkl','wb'))

In [46]:
Columns_list = a

In [47]:
Columns_list

Index(['Team 1', 'Team 2', 'Toss', 'Target', 'bat_first', 'Ground_Abu Dhabi',
       'Ground_Adelaide', 'Ground_Al Amerat', 'Ground_Amstelveen',
       'Ground_Auckland',
       ...
       'Zawar Farid', 'Zimbabwe', 'asammy Permaul', 'at Kohli', 'ctor Nyauchi',
       'jay Shankar', 'kum Sanjaya', 'nkatesh Iyer', 'shwa Fernando',
       'vian Kingma'],
      dtype='object', length=815)

In [48]:
d = {}

for i in Columns_list:
    d[i] = 0

In [49]:
def prepare_test_data_dict():
    test_df = pd.read_excel('Test_Df.xlsx',skiprows=0)
    Columns_list = test_df.columns
    d = {}
    for i in Columns_list:
        d[i] = 0

In [52]:

wc_2022_playing_teams = ['South Africa', 'Bangladesh', 'Pakistan','England','Afghanistan', 'Australia',
            'New Zealand','India','U.A.E.','Namibia','Netherlands','Sri Lanka','Ireland','Scotland','West Indies','Zimbabwe']
team_ids = {'India': 16,'England': 15,'Pakistan':14, 'South Africa':13,'New Zealand':12,'Australia':11,'West Indies':10,
           'Sri Lanka':9,'Bangladesh':8,'Afghanistan':7,'Zimbabwe':6,'U.A.E':5,'Ireland':4,'Namibia':3,'Scotland':2,
            'Netherlands':1}

def get_match_prediction(Team1,Team2,Toss,Target,bat_first,Ground,total_players):
    if len(total_players) > 22:
        return "Enterred Invalid Number of Players"
    elif Team1 and Team2 not in wc_2022_playing_teams:
        return "Entered Invalid Teams"
    elif Toss not in (Team1,Team2):
        return "Entered Invalid Toss Team"
    elif bat_first not in (Team1,Team2):
        return "Entered Invalid bat_first Team"
    elif Target <=50 | Target>250 :
        return "Enter a Valid Target"
    
    team1_id = team_ids.get(Team1)
    team2_id = team_ids.get(Team2)
    bat_first_id = team_ids.get(bat_first)
    toss_id = team_ids.get(Toss)
    
    d['Team 1'] = team1_id
    d['Team 2'] = team2_id
    d['bat_first'] = bat_first_id
    d['Toss'] = toss_id
    d['Target'] = Target
    
    grd = "Ground_" + Ground
    
    for i in Columns_list:
        if i == grd:
            d[i] = 1
        
        for j in total_players:
             if i == j:
                    d[i] = 1
            
    df = pd.DataFrame(data=d.values())
    test_pca = pca.transform(df.T)
    win_id = best_grid.predict_proba(test_pca)
    return win_id
    #if win_id[0] == 0:
    #    return Team1
    #elif win_id[0] == 1:
    #    return Team2

In [53]:
get_match_prediction('Pakistan','India','Pakistan',250,'Pakistan','Perth',total_players = ["Mohammad Rizwan","Babar Azam","Fakhar Zaman","Asif Ali","Iftikhar Ahmed","Khushdil Shah",
                                                                 "Mohammad Wasim","Hasan Ali,Shaheen Afridi","Haris Rauf","Usman Qadir","Ishan Kishan",
                                                                 "Shreyas Iyer","Sanju Samson","Hardik Pandya","Deepak Hooda","Dinesh Karthik","Axar Patel",
                                                                 "Kuldeep Yadav","Avesh Khan","Ravi Bishnoi","Arshdeep Singh"])

C:\Users\noahr\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but PCA was fitted with feature names
  warnings.warn(

array([[0.49306668, 0.50693332]])

In [58]:
get_match_prediction('England','India','India',250,'England','Melbourne',total_players = ["Jason Roy", "Jos Buttler", "Dawid Malan", "Jonny Bairstow", "Moeen Ali", "Liam Livingstone", "Sam Curran", "David Willey", "Chris Jordan", "Adil Rashid", "Reece Topley","Ishan Kishan",
                                                                 "Shreyas Iyer","Sanju Samson","Hardik Pandya","Deepak Hooda","Dinesh Karthik","Axar Patel",
                                                                 "Kuldeep Yadav","Avesh Khan","Ravi Bishnoi","Arshdeep Singh"])

C:\Users\noahr\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but PCA was fitted with feature names
  warnings.warn(

array([[0.47367942, 0.52632058]])

In [59]:
get_match_prediction('New Zealand','England','New Zealand',250,"New Zealand",'Melbourne',total_players=["Jason Roy", "Jos Buttler", "Dawid Malan", "Jonny Bairstow",
                                                                                  "Moeen Ali", "Liam Livingstone", "Sam Curran", "David Willey",
                                                                                  "Chris Jordan", "Adil Rashid", "Reece Topley","Martin Guptill", 
                                                                                  "Devon Conway", "Kane Williamson", "Glenn Phillips", "Daryl Mitchell", 
                                                                                  "James Neesham", "Michael Bracewell", "Mitchell Santner", "Ish Sodhi", 
                                                                                  "Tim Southee", "Trent Boult"])

C:\Users\noahr\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but PCA was fitted with feature names
  warnings.warn(

array([[0.43731476, 0.56268524]])